@import '../common.scss';

html {
  min-height: 100%;
  font-size: 14px;
  line-height: 1.5em;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  min-height: 100%;
  background-color: $background-color;
}

a {
  color: inherit;
}

button {
  background: none;
  border: none;
  color: inherit;
  font-size: 1rem;
  line-height: 1.5em;
  padding: 0;
  white-space: nowrap;

  .icon {
    vertical-align: middle;
  }
}

input {
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: 1rem;
  line-height: 1.5em;
  outline: none;
}

h3 {
  font-size: 1.1rem;
}
