@import '../common.scss';

.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 2;
  color: $secondary-color;
  background-color: $accent-color;
  text-transform: uppercase;
  overflow: auto;

  .menu {
    width: 100%;
  }

  .header-logo {
    font-size: 1.4rem;
  }

  a,
  button {
    transition: background-color 0.2s;

    &:hover {
      background-color: $accent-light-color;
    }
  }

  @include phone {
    .menu-link {
      .icon {
        margin-right: 0;
      }

      .menu-link-item {
        display: none;
      }
    }
  }
}
